<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lists_demo </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>
<body>
	<form action="/add" method="POST">
		<input type="text" placeholder="enter task"><button>Add</button>
	</form>
	<ul>
		<li><input type="checkbox"> walk the dog</li>
		<li><input type="checkbox"> walk the dog</li>
		<li><input type="checkbox"> walk the dog</li>
		<li><input type="checkbox"> walk the dog</li>
		<li><input type="checkbox"> walk the dog</li>
		<li><input type="checkbox"> walk the dog</li>
	</ul>
</body>
</html>